<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>IoT Minds Login</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

</head>
<body>
<%-include header%>
    <div class="container">
    Bulamadik haci
        </div>
    </div>
</body>
</html>
