<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Upps ! Something went wrong. - IoT Minds</title>
    <%include header%>
</head>
<body>
      <header class="header">
        <div role="navigation" class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <div class="navbar-header"><a href="#all" class="navbar-brand scroll-to"><img src="img/logo.png" alt="logo" class="hidden-xs hidden-sm"><img src="img/logo-small.png" alt="logo" class="visible-xs visible-sm"><span class="sr-only">Go to homepage</span></a>
              <div class="navbar-buttons">
                <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle navbar-btn">Menu<i class="pe-7s-menu"></i></button>
              </div>
            </div>
            <div id="navigation" class="collapse navbar-collapse navbar-right">
              <ul class="nav navbar-nav">
                <li><a href="#features" class="scroll-to">Features</a></li>
                <li><a href="#text" class="scroll-to">Text </a></li>
                <li><a href="#integrations" class="scroll-to">Integrations</a></li>
                <li><a href="#testimonials" class="scroll-to">Testimonials</a></li>
                <li><a href="#contact" class="scroll-to">Contact</a></li>
              </ul><a href="#" data-toggle="modal" data-target="#get-started" class="btn navbar-btn btn-ghost">Get started</a>
            </div>
          </div>
        </div>
      </header>
      <div class="container">
      	<h3>Something went wrong. <a href="/">Go back</a></h3>
      </div>
</body>
</html>
