<!-- views/create_channel.ejs -->
<!doctype html>
<html>
<head>
	<title>IoT Minds Profile</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<%-include header%>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h4><span class="fa fa-sign-in"></span> Create a new Channel</h4>

            <!-- show any messages that come back with authentication -->
            <!-- LOGIN FORM -->
            <form action="/channels/new" method="post">
                <div class="form-group">
                    <label>Channel Name</label>
                    <input type="text" class="form-control" name="channel_name">
                </div>
                <div class="form-group">
                    <label>Channel Description</label>
                    <input type="text" class="form-control" name="channel_description">
                </div>
                <div class="form-group">
                    <label>Channel Image URL</label>
                    <input type="text" class="form-control" name="img_url">
                </div>

                <button type="submit" class="btn btn-success btn-lg">Create</button>
            </form>

            <hr>
        </div>
    </div>
	</body>
	</html>
