<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<title>IoT Minds</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/">IoT Minds</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/docs">Documentation</a></li>
        <li><a href="/support">Support</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  <div class="wide">
   <div align="center" class="container">
    <p class="welcome-lg">Make your IoT Devices Intelligent</p>
    <p class="welcome-sm">Simplest IoT Monitoring Service Ever</p>
  </div>
  <div align="center" class="container">
    <p class="welcome-buttons">
     <a href="/login" class="btn btn-default btn-main">  Login  </a>
     <a href="/signup" class="btn btn-default btn-main">   Sign Up  </a>
   </p>
 </div>
</div>

<div align="center" class="section">
  <div class="col-md-4">
    <span class="section-header">Collect</span> </br>
    <img style="padding-top:20px; padding-bottom:10px;  width: 80px;height: 80px;" src="https://thingspeak.com/assets/collect-534c4d963c6222337349e6558b31bb2f.svg"></br>
    <h4>You can collect datas from anywhere</h4>
  </div>
  <div class="col-md-4">
    <span class="section-header">Analyze</span> </br>
    <div>
      <img style="padding-top:20px; padding-bottom:10px;  width: 80px;height: 80px;" src="https://thingspeak.com/assets/analyze-85df79f0a8ff707a22707af8b3e3d8ef.svg"></br>
      <h4>You can collect datas from anywhere</h4>      
    </div>
  </div>
  <div align="center" class="col-md-4">
    <span class="section-header">Predict</span> </br>
    <img style="padding-top:20px; padding-bottom:10px;  width: 80px; height: 80px;" src="https://thingspeak.com/assets/act-6c9e1de366cc6646bb1636bb403cecc3.svg">
    <h4>You can collect datas from anywhere</h4>
  </div>
</div>

<footer class="footer">
  <div class="container">
    asdlakjsdaklsjdlk
  </div>
</footer>
</body>
</html>